﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>


</head>
<body>

    <header>
        
    </header>

    <nav>
        @Html.Partial("_LoginPartial")
    </nav>

    <main>
        @RenderBody()
    </main>

    @RenderSection("scripts", required: false)
</body>
</html>
