﻿@using $safeprojectname$.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<h2>@ViewBag.Title.</h2>
<section id="loginForm">
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Use a local account to log in.</h4>
        <div>
            @Html.TextBoxFor(m => m.Email, new { placeholder = "email" })
        </div>
        <div>
            @Html.PasswordFor(m => m.Password, new { placeholder = "password" })
        </div>
        <div>
            @Html.CheckBoxFor(m => m.RememberMe)
            @Html.LabelFor(m => m.RememberMe)
        </div>
        <div>
            <input type="submit" value="Log in" />
        </div>
        <p>
            @Html.ActionLink("Register as a new user", "Register")
        </p>
    }
</section>
    


@section Scripts {

}