﻿@model $safeprojectname$.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>    
    <div>
        @Html.TextBoxFor(m => m.Email, new { placeholder = "email" })
    </div>
    <div>
        @Html.PasswordFor(m => m.Password, new { placeholder = "password" })
    </div>
    <div>
        @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "confirm password" })
    </div>
    <div>
        <input type="submit" value="Register" />
    </div>
}

@section Scripts {

}
