﻿@model $safeprojectname$.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Change Password Form</h4>
    <hr />

    <div>

        @Html.PasswordFor(m => m.OldPassword, new { placeholder = "old password" })

    </div>
    <div>


        @Html.PasswordFor(m => m.NewPassword, new { placeholder = "new password" })

    </div>
    <div>
        @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "confirm password" })
    </div>
    <div>
        <input type="submit" value="Change password" />
    </div>
}

@section Scripts {
    
}