﻿@model $safeprojectname$.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p>@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>            
                @Html.ActionLink("Change your password", "ChangePassword")            
        </dd>                                
    </dl>
</div>
